NODE_ENV=production
MAYA_API_BASE_URL=""
MAYA_PUBLIC_KEY=""
MAYA_SECRET_KEY=""
PAYLOAD_SECRET=""
DATABASE_URI=""

# Tools Commands
# docker-compose build payload tools
# docker-compose run --rm tools pnpm payload migrate
# docker-compose run --rm tools pnpm payload generate:types
# docker-compose run --rm tools pnpm ts-node src/scripts/seed.ts